{% extends 'blog/base.html' %}
{% block content %}

<section class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-9">
      <div class="container">
        <div class="row">

          <div class="post-container col-lg-6 shadow p-3 mb-5 mt-2 bg-white rounded">
            <div class="post-top">
              <img src="{{IMAGES_URL}}1628667838737forestViewFullHD.jpg" class="post-img" alt="">
            </div>
            <div class="post-middle">
              <h2 class="text-center text-capitalize ">Post title is here</h2>
              <h6 class="text-black-50 text-center">May 20, 2021</h6>
              <p class="text-truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, consequatur
                repellendus! Ipsum porro,
                fuga id magnam dicta quibusdam excepturi sed non veritatis? Rerum rem quam veniam fugiat corrupti
                voluptates ducimus?
              </p>
            </div>
          </div>

          <div class="col-lg-6 shadow p-3 mb-5 mt-2 bg-white rounded">
            <div class="post-top">
              <img src="{{IMAGES_URL}}1628667838737forestViewFullHD.jpg" class="post-img" alt="">
            </div>
            <div class="post-middle">
              <h2 class="text-center text-capitalize ">Post title is here</h2>
              <h6 class="text-black-50 text-center">May 20, 2021</h6>
              <p class="text-truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, consequatur
                repellendus! Ipsum porro,
                fuga id magnam dicta quibusdam excepturi sed non veritatis? Rerum rem quam veniam fugiat corrupti
                voluptates ducimus?
              </p>
            </div>
          </div>

          <div class="col-lg-6 shadow p-3 mb-5 mt-2 bg-white rounded">
            <div class="post-top">
              <img src="{{IMAGES_URL}}1628667838737forestViewFullHD.jpg" class="post-img" alt="">
            </div>
            <div class="post-middle">
              <h2 class="text-center text-capitalize ">Post title is here</h2>
              <h6 class="text-black-50 text-center">May 20, 2021</h6>
              <p class="text-truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, consequatur
                repellendus! Ipsum porro,
                fuga id magnam dicta quibusdam excepturi sed non veritatis? Rerum rem quam veniam fugiat corrupti
                voluptates ducimus?
              </p>
            </div>
          </div>

          <div class="col-lg-6 shadow p-3 mb-5 mt-2 bg-white rounded">
            <div class="post-top">
              <img src="{{IMAGES_URL}}1628667838737forestViewFullHD.jpg" class="post-img" alt="">
            </div>
            <div class="post-middle">
              <h2 class="text-center text-capitalize ">Post title is here</h2>
              <h6 class="text-black-50 text-center">May 20, 2021</h6>
              <p class="text-truncate">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, consequatur
                repellendus! Ipsum porro,
                fuga id magnam dicta quibusdam excepturi sed non veritatis? Rerum rem quam veniam fugiat corrupti
                voluptates ducimus?
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="col-3 d-none d-lg-block">
      <div class="container">
        <h3 class="text-center">Categories</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="#">Databases</a></li>
          <li class="list-group-item"><a href="#">Programming</a></li>
          <li class="list-group-item"><a href="#">Java</a></li>
          <li class="list-group-item"><a href="#">Python</a></li>
          <li class="list-group-item"><a href="#">Machine Learning</a></li>
          <li class="list-group-item"><a href="#">Neural Networks</a></li>

        </ul>
      </div>
      <div class="container ads-container mt-5">
        <img src="{{IMAGES_URL}}rightImg.png" alt="">
      </div>
    </div>
  </div>
</section>
{% endblock content %}