{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{%block content%}
<div class="container mt-3">
    <div class="row">
        <div class="col shadow p-3 rounded">
            <div class="d-flex align-items-center">
                <img class="profile-img" src="{{user.profile.image.url}}" alt="" srcset="">
                <div class="ms-5">
                    <h1>{{user.username}}</h1>
                    <small class="text-secondary">{{user.email}}</small>
                </div>
            </div>
            <div class="mt-5">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-5 ">Profile Info </legend>
                        {{u_form | crispy}}
                        {{p_form | crispy}}
                    </fieldset>
                    <div class="form-group mt-5">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3 d-none d-lg-block">
            <div class="container">
                <h3 class="text-center">Categories</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Databases</a></li>
                    <li class="list-group-item"><a href="#">Programming</a></li>
                    <li class="list-group-item"><a href="#">Java</a></li>
                    <li class="list-group-item"><a href="#">Python</a></li>
                    <li class="list-group-item"><a href="#">Machine Learning</a></li>
                    <li class="list-group-item"><a href="#">Neural Networks</a></li>

                </ul>
            </div>
            <div class="container ads-container mt-5">
                <img class="img-fluid" src="{{IMAGES_URL}}rightImg.png" alt="">
            </div>
        </div>
    </div>


    <div class="col-12 col-lg-9">
        <div class="container">
            <h2 class="m-5">Your Posts:</h2>
            <div class="row">
                {%for post in posts%}
                    {% include 'blog/post.html' with post=post %}
                {%endfor%}
            </div>
        </div>
    </div>
</div>

{%endblock content%}