{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{%block content%}
<div class="container content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-5 ">Register </legend>
            {{form | crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="class-muted">Already have an account? <a href="#" class="link-primary ml-2"> Sing In</a> </small>
    </div>
</div>
{%endblock content%}